<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset = "ISO-8859-1" />
    <link href = "./css/styles.css" rel = "stylesheet"/>
    <title>LearnMap Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<nav th:replace="template :: nav1"></nav>
<div class="container"><h2>Edit</h2>

    <div class="card" style="width: 18rem;">
        <form th:action="@{/Course/save}" method="post">
            <div class="card-body">

                <p class="card-text">email: <input type="hidden" name="id" th:field="*{course.cId}"  th:value = "${course.cId}" />
                    <input type="text" name="email" th:field="*{course.cName}"  th:value = "${course.cName}" /></p>
                <label>First name</label>
                <input  type="text" name="name" th:field="*{course.cUsedFor}" th:value = "${course.cUsedFor}"/>
                <label>last name</label>
                <label>username</label>
                </p>
                <button type="save" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>

</div>




<footer th:replace="template :: footer"></footer>
</body>
</html>